/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
